/*============================================================
                     OTOME ENGINE
              Estilos principales del juego
/·============================================================*/

/* -------------------- Pantalla completa -------------------- */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #222;
    overflow: hidden;
}

/* -------------------- Contenedor del juego ---------------- */
#game {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #711651;
    overflow: hidden;
}

/* -------------------- Fondos ------------------------------ */
.background {
    width: 100%;
    height: 100%;
    object-fit: cover; /* cubrir toda la pantalla */
    position: absolute;
}

/* -------------------- Personajes ------------------------- */
.character {
    position: absolute;
    bottom: 0;
    width: 20%; /* escala según pantalla */
    transition: opacity 0.3s; /* fade suave al cambiar imagen */
}

/* -------------------- Caja de texto ---------------------- */
.textbox {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(83, 35, 79, 0.8);
    color: white;
    padding: 2%;
    font-size: 2vh;
    display: flex;
    align-items: center;          /* centra vertical */
    justify-content: space-between;  /* texto normal alineado izquierda */
    box-sizing: border-box;
    height: 10vh;              /* altura fija */
    line-height: 1.4;
    overflow-y: hidden;        /* no crece */
}

/* Texto dentro de la caja */
#text-content {
    display: inline-block;
    max-width: 90%;
}

/* -------------------- Flecha circle next ----------------- */
.arrow {
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.25s;
}

.arrow.circle {
    border: 0.25rem rgba(0,0,0,0.4) solid;
    border-radius: 50%;
    box-sizing: border-box;
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.75rem;
    background-color: transparent;
    position: relative;
    display: none; /* oculto por defecto */
}

.arrow.circle::before {
    content: "";
    display: block;
    height: 2rem;
    width: 1.48rem;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    clip-path: polygon(73% 57%, 73% 57%, 78.4% 50%, 73% 43%, 73% 43%, 50% 14%, 60.8% 0%, 100% 50%, 60.8% 100%, 50% 86%);
    transition: all 0.25s;
}

.arrow.circle:hover {
    border-color: #d8a4ff;
    transform: scale(1.1);
}

.arrow.circle:hover::before {
    background-color: #d8a4ff;
    left: calc((3.5rem - 1.48rem)/2);
}

/* -------------------- Botones de elección ---------------- */
.choices {
    position: absolute;
    bottom: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.choices button {
    padding: 10px 20px;
    font-size: 16px;
}
